! vim: set filetype=xdefaults :
! terminal colours
! celorscheme: Relic Dark
*background: #1D2426
!*foreground: #8FA388

*cursorColor: #BE5E1E

!! molokai 
*foreground:#a0a0a0 
!*background:#1b1d1e
!black
*color0:    #1b1d1e
*color8:    #505354
!red
*color1:    #f92672
*color9:    #ff5995
!green
*color2:    #82b414
*color10:   #b6e354
!yellow
*color3:    #fd971f
*color11:   #feed6c
!blue
*color4:    #56c2d6
*color12:   #8cedff
!magenta
*color5:    #8c54fe
*color13:   #9e6ffe
!cyan
*color6:    #465457
*color14:   #899ca1
!white
*color7:    #ccccc6
*color15:   #f8f8f2

URxvt.colorBD:                  #CFCFCF
URxvt.colorUL:                  #969696
URxvt.colorIT:                  #686868

URxvt*borderColor:        #151515
URxvt*colorBD:            #ffffff
!URxvt*cursorColor:        #66ff66
URxvt*cursorColor2:       #151515

!scrollbar
URxvt.scrollBar: false

!font
URxvt.font: xft:Monaco\ for\ Powerline:size=11
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1

!colored man-pages
!URxvt.colorIT:	#87af5f
!URxvt.colorBD:	#ffffff
!URxvt.colorUL:	#87afd7

!tabs
!URxvt.perl-ext-common: ...,tabbed,...

Xft.autohint:	0
Xft.lcdfilter:	lcddefault
Xft.hintstyle:	hintslight
Xft.hinting:	1
Xft.antialias:	1
Xft.rgba:	rgb
