! vim: set filetype=xdefaults :
! terminal colours

!!molokai 
!*foreground:#a0a0a0 
!*background:#1b1d1e
*foreground:#fbf1c7
*background:#32302f
!!black
!*color0:    #1b1d1e
!*color8:    #505354
!!red
!*color1:    #f92672
!*color9:    #ff5995
!!green
!*color2:    #82b414
!*color10:   #b6e354
!!!yellow
!*color3:    #fd971f
!*color11:   #feed6c
!!blue
!*color4:    #56c2d6
!*color12:   #8cedff
!!magenta
!*color5:    #8c54fe
!*color13:   #9e6ffe
!!cyan
!*color6:    #465457
!*color14:   #899ca1
!!white
!*color7:    #ccccc6
!*color15:   #f8f8f2

URxvt.colorBD:                  #CFCFCF
URxvt.colorUL:                  #969696
URxvt.colorIT:                  #686868

URxvt*borderColor:        #151515
URxvt*colorBD:            #ffffff
URxvt*cursorColor:        #d65d0e
URxvt*cursorColor2:       #fe8019

!scrollbar
URxvt.scrollBar: false

!Xft.autohint:	false
Xft.dpi:        96
Xft.lcdfilter:	lcddefault
Xft.antialias:	true
Xft.rgba:	rgb
Xft.hinting:	true
Xft.hintstyle:	hintslight

!font
URxvt.font: xft:Meslo\ LG\ S\ for\ Powerline:size=11
!URxvt.font: xft:Monaco\ for\ Powerline:size=11

URxvt.letterSpace: -1

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1

!colored man-pages
!URxvt.colorIT:	#87af5f
!URxvt.colorBD:	#ffffff
!URxvt.colorUL:	#87afd7

!tabs
!URxvt.perl-ext-common: ...,tabbed,...

!!smyck
!!black
!*color0:    #000000
!*color8:    #5d5d5d
!!red
!*color1:    #c75646
!*color9:    #e09690
!!green
!*color2:    #8eb33b
!*color10:   #cdee69
!!!yellow
!*color3:    #d0b03c
!*color11:   #ffe377
!!blue
!*color4:    #72b3cc
!*color12:   #9cd9f0
!!magenta
!*color5:    #c8a0d1
!*color13:   #fbb1f9
!!cyan
!*color6:    #218693
!*color14:   #77dfd8
!!white
!*color7:    #b0b0b0
!*color15:   #f7f7f7

!gruvbox
!black
*color0:    #32302f
*color8:    #928374
!red
*color1:    #cc241d
*color9:    #fb4934
!green
*color2:    #98971a
*color10:   #b8bb26
!!yellow
*color3:    #d79921
*color11:   #fabd2f
!blue
*color4:    #458588
*color12:   #83a598
!magenta
*color5:    #b16286
*color13:   #d3869b
!cyan
*color6:    #689d6a
*color14:   #8ec07c
!white
*color7:    #a89984
*color15:   #fbf1c7

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   #ffffff,#525d76,#f5f5f5,#5294e2,#ffffff
! Color scheme for urgent row
rofi.color-urgent:                   #ffffff,#dc322f,#f5f5f5,#5294e2,#dc322f
! Color scheme for active row
rofi.color-active:                   #ffffff,#c2cad0,#f5f5f5,#5294e2,#c2cad0
! Color scheme window
rofi.color-window:                   #ffffff,#f5f5f5
! Separator style (none, dash, solid)
rofi.separator-style:                solid
